body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

.hello {
    color: red;
    font-size: 2rem;
    padding: 20px;
    text-align: center;
}
